div{
  margin-top: 25px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

a{
  text-decoration: none;
}
h2{
  margin: 20px;
  font-weight: bold;
  font-size: 30px;
}
p{
  margin: 20px;
}
span{
  font-weight: bold;
}
