#form-checkout{
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
}
#form-checkout div {
  margin-bottom: 10px;
}
label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="hidden"] {
  display: none;
}

button[type="submit"]{
  display:block;
  margin: 0 auto;
}
#titulo-form-pagamento{
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;

}

